.main {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  display: flex;
  min-height: 100vh;
  margin: 0;
  background: rgb(255,123,92);
  background: linear-gradient(90deg, rgba(255,123,92,1) 35%, rgba(255,108,129,1) 100%);
}

.petr {
  display: flex;
  justify-content: center;
  /* border: 2px solid black; */
  max-width: 400px;
  height: auto;
  padding: 20px;
  margin-bottom: 50px;
}

.petr-image{
  width: 50%;
  height: auto;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
    background: rgb(255,123,92);
    background: linear-gradient(180deg, rgba(255,123,92,1) 35%, rgba(255,108,129,1) 100%);
  }

  .petr {
    max-width: 300px;
  }
}

